<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#">
        <img src="https://image.made-in-china.com/202f0j00LNmTbrSckFue/Single-Herbs-Peppermint-Mint-Leaf-From-Manufacturer-China.jpg" alt="" width="30" height="24" class="d-inline-block align-text-top">
        Oshop
      </a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown01">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<h1>Heloo</h1>
<h1>Heloo</h1>
<h1>Heloo</h1>
<h1>Heloo</h1>
<h1>Heloo</h1>
<h1>Heloo</h1>
<h1>Heloo</h1>
<h1>Heloo</h1>
<h1>Heloo</h1>
<h1>Heloo</h1>
<h1>Heloo</h1>
<h1>Heloo</h1>
<h1>Heloo</h1>
<h1>Heloo</h1>
<h1>Heloo</h1>
<h1>Heloo</h1>
<h1>Heloo</h1>
<h1>Heloo</h1>

<router-outlet></router-outlet>
